In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
df1=pd.read_csv('student-mat.csv')
df2=pd.read_csv('student-por.csv')

In [3]:
frames = [df1, df2]

DF = pd.merge(df1, df2, on=['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'schoolsup', 'famsup', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health'], how='outer')

In [4]:
DF.shape

(674, 39)

In [5]:
DF['alc']=(DF['Dalc']+DF['Walc'])-2

In [6]:
DF['alc'].unique()

array([0, 3, 1, 2, 4, 8, 5, 6, 7])

## Column Descriptions

school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)

sex - student's sex (binary: 'F' - female or 'M' - male)

age - student's age (numeric: from 15 to 22)

address - student's home address type (binary: 'U' - urban or 'R' - rural)

famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)

Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)

Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – 
secondary education or 4 – higher education)

Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')

Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')

reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')

guardian - student's guardian (nominal: 'mother', 'father' or 'other')

traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)

studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)

failures - number of past class failures (numeric: n if 1<=n<3, else 4)

schoolsup - extra educational support (binary: yes or no)

famsup - family educational support (binary: yes or no)

paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

activities - extra-curricular activities (binary: yes or no)

nursery - attended nursery school (binary: yes or no)

higher - wants to take higher education (binary: yes or no)

internet - Internet access at home (binary: yes or no)

romantic - with a romantic relationship (binary: yes or no)

famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

freetime - free time after school (numeric: from 1 - very low to 5 - very high)

goout - going out with friends (numeric: from 1 - very low to 5 - very high)

Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

health - current health status (numeric: from 1 - very bad to 5 - very good)

absences - number of school absences (numeric: from 0 to 93)

These grades are related with the course subject, Math or Portuguese:

G1 - first period grade (numeric: from 0 to 20)
G2 - second period grade (numeric: from 0 to 20)
G3 - final grade (numeric: from 0 to 20, output target)

In [7]:
DF.select_dtypes(['object']).head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid_x,activities,nursery,higher,internet,romantic,paid_y
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,yes,no,yes,yes,yes,no,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,yes,yes,yes,yes,yes,yes,no
4,GP,F,U,GT3,T,other,other,home,father,no,yes,yes,no,yes,yes,no,no,no

In [8]:
DF.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures_x', 'schoolsup', 'famsup', 'paid_x', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences_x', 'G1_x', 'G2_x', 'G3_x', 'failures_y',
       'paid_y', 'absences_y', 'G1_y', 'G2_y', 'G3_y', 'alc'],
      dtype='object')

In [9]:
DF.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,G1_x,G2_x,G3_x,failures_y,paid_y,absences_y,G1_y,G2_y,G3_y,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5.0,6.0,6.0,0.0,no,4.0,0.0,11.0,11.0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5.0,5.0,6.0,0.0,no,2.0,9.0,11.0,11.0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,7.0,8.0,10.0,0.0,no,6.0,12.0,13.0,12.0,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,15.0,14.0,15.0,0.0,no,0.0,14.0,14.0,14.0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,6.0,10.0,10.0,0.0,no,0.0,11.0,13.0,13.0,1

# Binarizer

In [10]:
from sklearn import preprocessing
le=preprocessing.LabelBinarizer();

DF['romantic']=le.fit_transform(DF['romantic'])
DF['nursery']=le.fit_transform(DF['nursery'])
DF['paid_x']=le.fit_transform(DF['paid_x'].factorize()[0])
DF['paid_y']=le.fit_transform(DF['paid_y'].factorize()[0])
DF['internet']=le.fit_transform(DF['internet'])
DF['higher']=le.fit_transform(DF['higher'])
DF['famsup']=le.fit_transform(DF['famsup'])
DF['schoolsup']=le.fit_transform(DF['schoolsup'])
DF['activities']=le.fit_transform(DF['activities'])

In [11]:
DF.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,G1_x,G2_x,G3_x,failures_y,paid_y,absences_y,G1_y,G2_y,G3_y,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5.0,6.0,6.0,0.0,0,4.0,0.0,11.0,11.0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5.0,5.0,6.0,0.0,0,2.0,9.0,11.0,11.0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,7.0,8.0,10.0,0.0,0,6.0,12.0,13.0,12.0,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,15.0,14.0,15.0,0.0,0,0.0,14.0,14.0,14.0,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,6.0,10.0,10.0,0.0,0,0.0,11.0,13.0,13.0,1

In [12]:
y = DF['alc']

In [13]:
DF['reason'].unique()

array(['course', 'other', 'home', 'reputation'], dtype=object)

In [14]:
DF.select_dtypes(['object']).head()

  school sex address famsize Pstatus     Mjob      Fjob  reason guardian
0     GP   F       U     GT3       A  at_home   teacher  course   mother
1     GP   F       U     GT3       T  at_home     other  course   father
2     GP   F       U     LE3       T  at_home     other   other   mother
3     GP   F       U     GT3       T   health  services    home   mother
4     GP   F       U     GT3       T    other     other    home   father

# One Hot Coding

In [15]:
ind_sex=pd.get_dummies(DF['sex'],prefix='sex').astype(int)
ind_famsize=pd.get_dummies(DF['famsize'],prefix='famsize').astype(int)
ind_Fjob=pd.get_dummies(DF['Fjob'],prefix='Fjob').astype(int)

ind_school=pd.get_dummies(DF['school'],prefix='school').astype(int)
ind_address=pd.get_dummies(DF['address'],prefix='address').astype(int)
ind_Pstatus=pd.get_dummies(DF['Pstatus'],prefix='Pstatus').astype(int)
ind_Mjob=pd.get_dummies(DF['Mjob'],prefix='Mjob').astype(int)
ind_reason=pd.get_dummies(DF['reason'],prefix='reason').astype(int)
ind_guardian=pd.get_dummies(DF['guardian'],prefix='guardian').astype(int)

In [16]:
DF = pd.concat([DF.select_dtypes(['int64']),ind_Fjob,ind_school,ind_address,ind_Pstatus,ind_Mjob,ind_reason,
                ind_sex,ind_guardian,ind_famsize,],axis=1)
DF.head()

,age,Medu,Fedu,traveltime,studytime,schoolsup,famsup,paid_x,activities,nursery,...,reason_home,reason_other,reason_reputation,sex_F,sex_M,guardian_father,guardian_mother,guardian_other,famsize_GT3,famsize_LE3
0,18,4,4,2,2,1,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
1,17,1,1,1,2,0,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
2,15,1,1,1,2,1,0,0,0,1,...,0,1,0,1,0,0,1,0,0,1
3,15,4,2,1,3,0,1,0,1,1,...,1,0,0,1,0,0,1,0,1,0
4,16,3,3,1,2,0,1,0,0,1,...,1,0,0,1,0,1,0,0,1,0

In [17]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 674 entries, 0 to 673
Data columns (total 48 columns):
age                  674 non-null int64
Medu                 674 non-null int64
Fedu                 674 non-null int64
traveltime           674 non-null int64
studytime            674 non-null int64
schoolsup            674 non-null int64
famsup               674 non-null int64
paid_x               674 non-null int64
activities           674 non-null int64
nursery              674 non-null int64
higher               674 non-null int64
internet             674 non-null int64
romantic             674 non-null int64
famrel               674 non-null int64
freetime             674 non-null int64
goout                674 non-null int64
Dalc                 674 non-null int64
Walc                 674 non-null int64
health               674 non-null int64
paid_y               674 non-null int64
alc                  674 non-null int64
Fjob_at_home         674 non-null int64
Fjob_health          674 non-null int64
Fjob_other           674 non-null int64
Fjob_services        674 non-null int64
Fjob_teacher         674 non-null int64
school_GP            674 non-null int64
school_MS            674 non-null int64
address_R            674 non-null int64
address_U            674 non-null int64
Pstatus_A            674 non-null int64
Pstatus_T            674 non-null int64
Mjob_at_home         674 non-null int64
Mjob_health          674 non-null int64
Mjob_other           674 non-null int64
Mjob_services        674 non-null int64
Mjob_teacher         674 non-null int64
reason_course        674 non-null int64
reason_home          674 non-null int64
reason_other         674 non-null int64
reason_reputation    674 non-null int64
sex_F                674 non-null int64
sex_M                674 non-null int64
guardian_father      674 non-null int64
guardian_mother      674 non-null int64
guardian_other       674 non-null int64
famsize_GT3          674 non-null int64
famsize_LE3          674 non-null int64
dtypes: int64(48)
memory usage: 258.0 KB

# Our Dataset is ready to be trained

In [18]:
col=DF.columns
col

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'schoolsup', 'famsup',
       'paid_x', 'activities', 'nursery', 'higher', 'internet', 'romantic',
       'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'paid_y',
       'alc', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'school_GP', 'school_MS', 'address_R', 'address_U',
       'Pstatus_A', 'Pstatus_T', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'sex_F', 'sex_M',
       'guardian_father', 'guardian_mother', 'guardian_other', 'famsize_GT3',
       'famsize_LE3'],
      dtype='object')

In [19]:
X=DF

In [20]:
y.head()

0    0
1    0
2    3
3    0
4    1
Name: alc, dtype: int64

In [21]:
X.columns

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'schoolsup', 'famsup',
       'paid_x', 'activities', 'nursery', 'higher', 'internet', 'romantic',
       'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'paid_y',
       'alc', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'school_GP', 'school_MS', 'address_R', 'address_U',
       'Pstatus_A', 'Pstatus_T', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'sex_F', 'sex_M',
       'guardian_father', 'guardian_mother', 'guardian_other', 'famsize_GT3',
       'famsize_LE3'],
      dtype='object')

In [22]:
DF['Dalc'].unique()

array([1, 2, 5, 3, 4])

In [23]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,train_size=0.8,random_state=42);

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

## We divide the test set into two seperate columns for two different models

In [24]:
y_test.head()

608    4
302    0
621    0
548    1
375    1
Name: alc, dtype: int64

In [25]:
y_test.shape

(135,)

# Data Preprocessing

In [26]:
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler();
X_std_train = sc_x.fit_transform(X_train);
X_std_test = sc_x.fit_transform(X_test);

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [27]:
pd.DataFrame(X_std_train).head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,4.112062,0.437133,-1.175250,-0.763276,-1.102760,-0.347249,-1.222853,-0.875907,-0.965349,-1.952562,...,-0.552345,2.852296,-0.526546,-1.163491,1.163491,-0.549484,0.675838,-0.298142,0.649741,-0.649741
1,0.134314,-0.455347,0.666203,0.576808,-1.102760,-0.347249,0.817760,-0.875907,-0.965349,0.512148,...,1.810463,-0.350595,-0.526546,0.859482,-0.859482,1.819890,-1.479645,-0.298142,0.649741,-0.649741
2,0.134314,0.437133,-0.254524,-0.763276,-1.102760,-0.347249,0.817760,-0.875907,1.035894,0.512148,...,-0.552345,-0.350595,-0.526546,-1.163491,1.163491,-0.549484,0.675838,-0.298142,0.649741,-0.649741
3,1.725413,-0.455347,0.666203,-0.763276,-1.102760,-0.347249,-1.222853,1.141674,-0.965349,0.512148,...,-0.552345,-0.350595,-0.526546,0.859482,-0.859482,-0.549484,-1.479645,3.354102,0.649741,-0.649741
4,-1.456786,0.437133,0.666203,-0.763276,0.125314,-0.347249,-1.222853,1.141674,-0.965349,-1.952562,...,1.810463,-0.350595,-0.526546,0.859482,-0.859482,-0.549484,0.675838,-0.298142,0.649741,-0.649741

# Metrics Calculation

In [28]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.model_selection import cross_val_predict,cross_val_score

In [29]:
def print_scores(clf,X_train,y_train,X_test,y_test,train):
    if train:
        print("Training Sample Data\n")
#         print('The accuracy Score is {0:.4f}\n'.format(accuracy_score(y_train,clf.predict(X_train))))
        print('The classification Report is \n\n{}\n'.format(classification_report(y_train,clf.predict(X_train)),
                                                             labels=np.unique(clf.predict(X_train))))
        print('The confusion matrix is \n{}\n'.format(confusion_matrix(y_train,clf.predict(X_train))))
        
        res=cross_val_score(clf,X_train,y_train,cv=10,scoring='accuracy')
        print("Average is {0:.4f}".format(np.mean(res)))
        print("STD is {0:.4f}".format(np.std(res)))
        
    elif train==False:
        print("Testing Sample Data\n")
        print('The accuracy Score is {0:.4f}\n'.format(accuracy_score(y_test,clf.predict(X_test))))
        print('The classification Report is \n\n{}\n'.format(classification_report(y_test,clf.predict(X_test)),
                                                             labels=np.unique(clf.predict(X_train))))
        print('The confusion matrix is \n{}\n'.format(confusion_matrix(y_test,clf.predict(X_test))))
        
#         res=cross_val_score(clf,X_test,y_test,cv=10,scoring='accuracy')
#         print('Average is {0:.4f}'.format(np.mean(res)))
#         print('STD is {0:.4f}'.format(np.std(res)))

# Model 1 :- Decision Tree

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
clf=DecisionTreeClassifier(random_state=42)

clf.fit(X_std_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [32]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
mean_squared_error(y_test,clf.predict(X_std_test))

0.05925925925925926

In [33]:
from sklearn.tree import export_graphviz

export_graphviz(clf,
                out_file="tree.dot",
                feature_names=X_train,
                class_names=y_train,
                rounded=True,
                filled=True)

In [34]:
mean_squared_error(y_test,clf.predict(X_std_test))

0.05925925925925926

In [35]:
r2_score(y_test,clf.predict(X_std_test))

0.981584421784947

In [36]:
print_scores(clf,X_std_train,y_train,X_std_test,y_test,train=True)

Training Sample Data

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       208
           1       1.00      1.00      1.00        90
           2       1.00      1.00      1.00        80
           3       1.00      1.00      1.00        58
           4       1.00      1.00      1.00        43
           5       1.00      1.00      1.00        29
           6       1.00      1.00      1.00        12
           7       1.00      1.00      1.00         4
           8       1.00      1.00      1.00        15

   micro avg       1.00      1.00      1.00       539
   macro avg       1.00      1.00      1.00       539
weighted avg       1.00      1.00      1.00       539


The confusion matrix is
[[208   0   0   0   0   0   0   0   0]
 [  0  90   0   0   0   0   0   0   0]
 [  0   0  80   0   0   0   0   0   0]
 [  0   0   0  58   0   0   0   0   0]
 [  0   0   0   0  43   0   0   0   0]
 [  0   0   0   0   0  29   0   0   0]
 [  0   0   0   0   0   0  12   0   0]
 [  0   0   0   0   0   0   0   4   0]
 [  0   0   0   0   0   0   0   0  15]]

Average is 1.0000
STD is 0.0000

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

In [37]:
print_scores(clf,X_std_train,y_train,X_std_test,y_test,train=False)

Testing Sample Data

The accuracy Score is 0.9407

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        43
           1       1.00      1.00      1.00        29
           2       1.00      1.00      1.00        23
           3       1.00      1.00      1.00        19
           4       1.00      1.00      1.00        10
           5       1.00      1.00      1.00         3
           6       0.00      0.00      0.00         5
           7       0.00      0.00      0.00         3
           8       0.00      0.00      0.00         0

   micro avg       0.94      0.94      0.94       135
   macro avg       0.67      0.67      0.67       135
weighted avg       0.94      0.94      0.94       135


The confusion matrix is
[[43  0  0  0  0  0  0  0  0]
 [ 0 29  0  0  0  0  0  0  0]
 [ 0  0 23  0  0  0  0  0  0]
 [ 0  0  0 19  0  0  0  0  0]
 [ 0  0  0  0 10  0  0  0  0]
 [ 0  0  0  0  0  3  0  0  0]
 [ 0  0  0  0  0  0  0  5  0]
 [ 0  0  0  0  0  0  0  0  3]
 [ 0  0  0  0  0  0  0  0  0]]

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

# Model 2 :- Bagging Classifier

from sklearn.ensemble import BaggingClassifier

bag_clf=BaggingClassifier(base_estimator=clf,n_estimators=5000,bootstrap=True,n_jobs=-1,random_state=42)

bag_clf.fit(X_std_train,y_train)

print_scores(bag_clf,X_std_train,y_train,X_std_test,y_test,train=True)

print_scores(bag_clf,X_std_train,y_train,X_std_test,y_test,train=False)

# Model 2 :- Support Vector Machine (Polynomial Kernel)

In [38]:
from sklearn import svm

In [39]:
C = 1.0
svm_clf = svm.SVC(kernel='rbf', gamma=0.7, C=C)
svm_clf.fit(X_std_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.7, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [40]:
print_scores(svm_clf,X_std_train,y_train,X_std_test,y_test,train=True)

Training Sample Data

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       208
           1       1.00      1.00      1.00        90
           2       1.00      1.00      1.00        80
           3       1.00      1.00      1.00        58
           4       1.00      1.00      1.00        43
           5       1.00      1.00      1.00        29
           6       1.00      1.00      1.00        12
           7       1.00      1.00      1.00         4
           8       1.00      1.00      1.00        15

   micro avg       1.00      1.00      1.00       539
   macro avg       1.00      1.00      1.00       539
weighted avg       1.00      1.00      1.00       539


The confusion matrix is
[[208   0   0   0   0   0   0   0   0]
 [  0  90   0   0   0   0   0   0   0]
 [  0   0  80   0   0   0   0   0   0]
 [  0   0   0  58   0   0   0   0   0]
 [  0   0   0   0  43   0   0   0   0]
 [  0   0   0   0   0  29   0   0   0]
 [  0   0   0   0   0   0  12   0   0]
 [  0   0   0   0   0   0   0   4   0]
 [  0   0   0   0   0   0   0   0  15]]

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Average is 0.3900
STD is 0.0144

In [41]:
print_scores(svm_clf,X_std_train,y_train,X_std_test,y_test,train=False)

Testing Sample Data

The accuracy Score is 0.3185

The classification Report is

              precision    recall  f1-score   support

           0       0.32      1.00      0.48        43
           1       0.00      0.00      0.00        29
           2       0.00      0.00      0.00        23
           3       0.00      0.00      0.00        19
           4       0.00      0.00      0.00        10
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         5
           7       0.00      0.00      0.00         3

   micro avg       0.32      0.32      0.32       135
   macro avg       0.04      0.12      0.06       135
weighted avg       0.10      0.32      0.15       135


The confusion matrix is
[[43  0  0  0  0  0  0  0]
 [29  0  0  0  0  0  0  0]
 [23  0  0  0  0  0  0  0]
 [19  0  0  0  0  0  0  0]
 [10  0  0  0  0  0  0  0]
 [ 3  0  0  0  0  0  0  0]
 [ 5  0  0  0  0  0  0  0]
 [ 3  0  0  0  0  0  0  0]]

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [42]:
y_train_predict=svm_clf.predict(X_std_train)
y_test_predict=svm_clf.predict(X_std_test)

# Model 3 :- Random Forest

In [43]:
from sklearn.ensemble import RandomForestClassifier

rf_clf=RandomForestClassifier(random_state=42)

rf_clf.fit(X_train,y_train)

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [44]:
print_scores(rf_clf,X_train,y_train,X_test,y_test,train=True)

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Training Sample Data

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       208
           1       1.00      1.00      1.00        90
           2       1.00      1.00      1.00        80
           3       1.00      1.00      1.00        58
           4       1.00      1.00      1.00        43
           5       1.00      1.00      1.00        29
           6       1.00      1.00      1.00        12
           7       1.00      1.00      1.00         4
           8       1.00      1.00      1.00        15

   micro avg       1.00      1.00      1.00       539
   macro avg       1.00      1.00      1.00       539
weighted avg       1.00      1.00      1.00       539


The confusion matrix is
[[208   0   0   0   0   0   0   0   0]
 [  0  90   0   0   0   0   0   0   0]
 [  0   0  80   0   0   0   0   0   0]
 [  0   0   0  58   0   0   0   0   0]
 [  0   0   0   0  43   0   0   0   0]
 [  0   0   0   0   0  29   0   0   0]
 [  0   0   0   0   0   0  12   0   0]
 [  0   0   0   0   0   0   0   4   0]
 [  0   0   0   0   0   0   0   0  15]]

Average is 0.8246
STD is 0.0381

In [45]:
print_scores(rf_clf,X_train,y_train,X_test,y_test,train=False)

Testing Sample Data

The accuracy Score is 0.8222

The classification Report is

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        43
           1       0.94      1.00      0.97        29
           2       0.74      0.74      0.74        23
           3       0.62      0.68      0.65        19
           4       0.58      0.70      0.64        10
           5       0.50      0.33      0.40         3
           6       0.50      0.20      0.29         5
           7       0.00      0.00      0.00         3

   micro avg       0.82      0.82      0.82       135
   macro avg       0.61      0.58      0.58       135
weighted avg       0.80      0.82      0.81       135


The confusion matrix is
[[43  0  0  0  0  0  0  0]
 [ 0 29  0  0  0  0  0  0]
 [ 1  2 17  3  0  0  0  0]
 [ 0  0  5 13  1  0  0  0]
 [ 0  0  0  2  7  1  0  0]
 [ 0  0  1  1  0  1  0  0]
 [ 0  0  0  1  3  0  1  0]
 [ 0  0  0  1  1  0  1  0]]

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Grid Search

In [46]:
from sklearn.model_selection import GridSearchCV

from sklearn.pipeline import Pipeline

In [47]:
params={'max_depth':[3,None],
       'min_samples_split':[2,3,10],
       'min_samples_leaf':[1,3,10],
       'bootstrap':[True,False],
       'criterion':['gini','entropy']}

In [48]:
grid_search=GridSearchCV(rf_clf , params , cv=5 , n_jobs=-1 , verbose=1 , scoring='accuracy')

In [49]:
grid_search.fit(X_train,y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    9.3s
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed:   14.7s finished
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'min_samples_split': [2, 3, 10], 'max_depth': [3, None], 'min_samples_leaf': [1, 3, 10], 'criterion': ['gini', 'entropy'], 'bootstrap': [True, False]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=1)

# Model 4 :- XGBoost

In [50]:
import xgboost as xgb

xgb_clf=xgb.XGBClassifier(max_depth=3,n_estimators=5000,learning_rate=0.2)

xgb_clf.fit(X_std_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.2, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=5000,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [51]:
print_scores(xgb_clf,X_std_train,y_train,X_std_test,y_test,train=True)

Training Sample Data

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       208
           1       1.00      1.00      1.00        90
           2       1.00      1.00      1.00        80
           3       1.00      1.00      1.00        58
           4       1.00      1.00      1.00        43
           5       1.00      1.00      1.00        29
           6       1.00      1.00      1.00        12
           7       1.00      1.00      1.00         4
           8       1.00      1.00      1.00        15

   micro avg       1.00      1.00      1.00       539
   macro avg       1.00      1.00      1.00       539
weighted avg       1.00      1.00      1.00       539


The confusion matrix is
[[208   0   0   0   0   0   0   0   0]
 [  0  90   0   0   0   0   0   0   0]
 [  0   0  80   0   0   0   0   0   0]
 [  0   0   0  58   0   0   0   0   0]
 [  0   0   0   0  43   0   0   0   0]
 [  0   0   0   0   0  29   0   0   0]
 [  0   0   0   0   0   0  12   0   0]
 [  0   0   0   0   0   0   0   4   0]
 [  0   0   0   0   0   0   0   0  15]]

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Average is 1.0000
STD is 0.0000

In [52]:
print_scores(xgb_clf,X_std_train,y_train,X_std_test,y_test,train=False)

Testing Sample Data

The accuracy Score is 0.9407

/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/ankit/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

The classification Report is

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        43
           1       1.00      1.00      1.00        29
           2       1.00      1.00      1.00        23
           3       1.00      1.00      1.00        19
           4       1.00      1.00      1.00        10
           5       0.60      1.00      0.75         3
           6       0.00      0.00      0.00         5
           7       0.00      0.00      0.00         3
           8       0.00      0.00      0.00         0

   micro avg       0.94      0.94      0.94       135
   macro avg       0.62      0.67      0.64       135
weighted avg       0.93      0.94      0.94       135


The confusion matrix is
[[43  0  0  0  0  0  0  0  0]
 [ 0 29  0  0  0  0  0  0  0]
 [ 0  0 23  0  0  0  0  0  0]
 [ 0  0  0 19  0  0  0  0  0]
 [ 0  0  0  0 10  0  0  0  0]
 [ 0  0  0  0  0  3  0  0  0]
 [ 0  0  0  0  0  2  0  3  0]
 [ 0  0  0  0  0  0  0  0  3]
 [ 0  0  0  0  0  0  0  0  0]]

# Result

The Data set was preprocessed before fitting for better results.
Standard Scalerization was performed for this

Various Models and Algorithms were used to fit the model and to determine which one gives the best result.

## Inferences

The Decision Tree Classifier performed the least with mostly overfitting the training data and then providing unsatisfactory results in the prediction of the test dataset

Support Vector Machine was too underperformed due to overfitting and was again quiet unsuccessful in predicting the correct values.

Random Forest was the best performer amonst all with a accuracy score of 0.8246 on the training data and of 0.8222 on the test data. It gave the best results in terms of the Precision,Recall and the F1 Scores.

Grid Search was performed along with Random Forest to better tunn the Hyperparameters in order for better Performance.

Lastly XGBoost was used in model training which also performed quiet successfully with a 0.9107 of accuracy score on the test dataset but with a little downgraded Precision and Recall score than Random Forest.